button:nth-child(1){
    background-color: #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
button:nth-child(2){
    background-color: #6c757d;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
button:nth-child(3){
    background-color: #dc3545;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}