*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(255, 255, 255, 0.95);
    height: 96px;
    width: 100%;
}
.head {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    line-height: 96px;
}

.logo {
    font-size: 35px;
    font-weight: 400;
    color: rgba(231, 111, 81, 1);
}

.nav-header {
    
}

.menu-nav {
    display: flex;
    justify-content: space-between;
}
.menu-nav li{
    list-style-type: none;
    ma
}
.btn-nav {}

.banner {}

.banner-img {}

.text-banner {}

.btn-banner {}

.section {}

.cart {}

.cart-section {}

.cart-item {}

.cart-img {}

.text-cart {}

.cart-menu {}

.item-cart-menu {}

.footer {}

.top-footer {}

.item-footer {}

.botom-footer {}